<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">
  <test name="Tdsfest">
    <classes>
      <class name="Academy.validateNavigationbar"/>
        </classes>
        </test>
        
    
  
    
      
      <test name="Tessdgt">
    <classes>
  
      <class name="Academy.validateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
